:root{
    --fondo:rgb(32, 151, 84);
}
/*--nombre:valor;*/
/*Pseudoclases
:hover
:focus-within
:focus

font-family
float
box-shadow
left
position
cursor
list-style
*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family:'poppins','Arial','sans-serif'; 
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    color: #fff;
    background: var(--fondo); /*rgb(32, 151, 84);*/
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}

li a {
    color: #fff;
    text-decoration: none;
}

li:hover,
li:focus-within{
    background: white;
    cursor: pointer;
}

li:hover > a{
    color: rgb(32, 151, 84);
}

ul ul {
    min-width: 5rem;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
    /*visibility: hidden;*/
    box-shadow: 1px 1px 2px 2px  rgba(0,0,0,.2);
}

ul ul li{
    width: 100%;
}

ul li:hover>ul,
ul li:focus-within>ul{
    display: block;
}

header{
    position: fixed;
    margin-top: -5rem;
}

form{
    margin: 0 auto;
    margin-top: 5rem;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    width: 30%;
    padding: 1rem;
    
}

label{
    width: 100%;
    display: block;
}

form div{
    padding: .5rem;
    margin: .5rem 0;
    /*border: 2px solid #000;
    border-bottom: none;*/
    

    /*border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;*/
}
/*
form div:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
*/  
form div:last-child{
    margin-top: 1.5rem;
    text-align: center;
    /*
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid #000;*/
}


form input{
    width: 100%;
    padding: .5rem;
    outline: none;
    border-radius: 5px;
}

form input:focus,
form input:hover{
    /*outline: 3px solid red;
    outline-offset: 3px;*/
    border: 2px solid blue;
}

button{
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
}

.btnVerde{
    background: rgb(3, 143, 3);
    color: white;
}

.btnRojo{
    background: rgb(172, 9, 9);
    color: white;
}

.btnAzul{
    background: rgb(32, 48, 221);
    color: white;
}

.btnVerde:hover{
    background: rgb(1, 104, 1);
}

.btnRojo:hover{
    background: rgb(118, 4, 4);
}

.btnAzul:hover{
    background: rgb(14, 24, 134);
}

#frmRegistro{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.t1{
    width: calc(100% / 12);
}
.t2{
    /*Estilo para prevenir que haya un navegador que no reconozca
    calc*/
    /*width: 16.66%;*/
    width: calc(100% / 6);
}
.t3{
    width: 25%;
}
.t4{
    width: calc(100% / 12 * 4);
}
.t5{
    width: calc(100% / 12 * 5);
}
.t6{
    width: 50%;
}
.t7{
    width: calc(100% / 12 * 7);
}
.t8{
    width: calc(100% / 12 * 8);
}
.t9{
    width: 75%;
}
.t10{
    width: calc(100% / 12 * 10);
}
.t11{
    width: calc(100% / 12 * 12);
}
.t12{
    width: 100%;
}

#panel div{
    min-height: 80px;
    border: 1px solid #000;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

